@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

@if (ViewData["ErrorMessage"] != null)
{
    <hr />
    <h3>Error Details:</h3>
    <p>
        <code style="white-space: pre-wrap;">@ViewData["ErrorMessage"]</code>
    </p>
}